<p id=loadWayInfo class="h5"></p>
<div id="navigation"> </div>

<div class="row">
    <div class="col-xs-12">
        <input type="checkbox" data-group="group1" name="mapSelect" onclick="showWheelchairAccessLayer('WheelchairAccess', this.id);" id="defaultMenuLayerActivated" ) />
        <label for="editMenuLayerActivated">Toegankelijkheid wegen weergeven</label>
    </div>
</div>

