.leaflet-control-minZoomIndicator {
    font-size: 14px;
    line-height: 22px;
    background: #fff;
    padding: 4px 10px;
    color: #333;
    max-width:80%;
    -o-box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
    -ms-box-shadow: 0 0 8px 0 rgba(0,0,0,.4);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
}

@media (min-width: 320px) {
    .leaflet-control-minZoomIndicator {
        max-width: 100%;
    }
}