@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Friesestraatweg 215A, 9743 AD Groningen<br />
    Postbus 2010 9704 CA Groningen<br />

    <abbr title="Telefoonnummer">T:</abbr>
    0505757888
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:getcloser@tfe.nl?subject=Contact">getcloser@tfe.nl</a><br />

</address>